@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Main colors */
.dark {
  --background: #1f2128;
  --primary: #fcfcfd;
  --primary-dimmed: #cc604a;
  --primary-disabled: #2e3239;
  --primary-disabled-text: #565b60;
  --primary-text-dimmed: #808191;
  --accent: #f77052;
  --accent-semi-transparent: rgba(204, 96, 74, 0.1);
  --gray-semi-transparent: rgba(31, 32, 34, 0.8);
  --transparent: rgba(0, 0, 0, 0);
  --border: #353945;
  --error: #fb585e;
  --success: #45b26b;
}
.light {
  --background: #fefefd;
  --primary: #11142d;
  --primary-dimmed: #cc604a;
  --primary-disabled: #f4f6fa;
  --primary-disabled-text: #b2b7bb;
  --primary-text-dimmed: #777e90;
  --accent: #f77052;
  --accent-semi-transparent: rgba(247, 112, 82, 0.08);
  --gray-semi-transparent: rgba(107, 114, 128, 0.5);
  --transparent: rgba(0, 0, 0, 0);
  --border: #e6e8ec;
  --error: #d20606;
  --success: #45b26b;
}

/* Typography */

:root {
  --font-primary: Manrope;
  --font-bold: 700;
  --font-medium: 500;
  --text-base: 1rem;
  --text-2base: 1.125rem;
  --line-base: 1.75rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --m-4: 1rem;
  --m-12: 3rem;
  --rounded-xl: 0.75rem;
  --leading-loose: 200%;
}

/* Markdown editor styles */

.EasyMDEContainer .CodeMirror {
  border-color: transparent !important;
}
.CodeMirror {
  color: var(--primary) !important;
  background-color: inherit !important;
  border-color: transparent !important;
}
.cm-s-easymde .CodeMirror-cursor {
  border-color: var(--primary) !important;
}
.editor-toolbar > * {
  color: var(--primary);
}
.editor-toolbar {
  border-color: transparent !important;
}

.editor-toolbar > button:hover,
.editor-toolbar button.active,
.editor-preview pre,
.cm-s-easymde .cm-comment {
  background: var(--primary-disabled-text) !important;
}

/* Text */
.CodeMirror-code {
  font-family: var(--font-primary);
}
/* Plain */
.CodeMirror-line > span {
  overflow-wrap: break-word;
  font-size: var(--text-2base);
  line-height: var(--line-base);
  padding-right: 0 !important;
}
/* Link */
.cm-link {
  color: var(--primary-dimmed) !important;
}
/* Lists */
.cm-formatting-list-ol,
.cm-formatting-list-ul {
  margin-left: var(--m-4);
}
/* Headers */
.cm-header-1 {
  font-family: var(--font-primary);
  font-size: var(--text-5xl) !important;
  line-height: var(--text-5xl) !important;
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .cm-header-1 {
    font-size: var(--text-6xl) !important;
    line-height: var(--text-6xl) !important;
  }
}
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  line-height: var(--leading-loose) !important;
  color: var(--primary);
}
.cm-header-2 {
  font-size: var(--text-4xl) !important;
}
.cm-header-3 {
  font-size: var(--text-3xl) !important;
}
.cm-header-4 {
  font-size: var(--text-2xl) !important;
}
.cm-header-5,
.cm-header-6 {
  font-size: var(--text-xl) !important;
}
@media screen and (min-width: 768px) {
  .cm-header-2 {
    font-size: var(--text-5xl) !important;
  }
  .cm-header-3 {
    font-size: var(--text-4xl) !important;
  }
  .cm-header-4 {
    font-size: var(--text-3xl) !important;
  }
  .cm-header-5,
  .cm-header-6 {
    font-size: var(--text-2xl) !important;
  }
}

.__react_component_tooltip {
  opacity: 1 !important;
  border-radius: var(--rounded-xl) !important;
  font-size: 14px !important;
}
