@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Main colors */
.dark {
  --background: #1f2128;
  --primary: #fcfcfd;
  --primary-dimmed: #cc604a;
  --primary-disabled: #2e3239;
  --primary-disabled-text: #565b60;
  --primary-text-dimmed: #808191;
  --accent: #f77052;
  --accent-semi-transparent: rgba(204, 96, 74, 0.1);
  --gray-semi-transparent: rgba(31, 32, 34, 0.8);
  --transparent: rgba(0, 0, 0, 0);
  --border: #353945;
  --error: #fb585e;
  --success: #45b26b;
}
.light {
  --background: #fefefd;
  --primary: #11142d;
  --primary-dimmed: #cc604a;
  --primary-disabled: #f4f6fa;
  --primary-disabled-text: #b2b7bb;
  --primary-text-dimmed: #777e90;
  --accent: #f77052;
  --accent-semi-transparent: rgba(247, 112, 82, 0.08);
  --gray-semi-transparent: rgba(107, 114, 128, 0.5);
  --transparent: rgba(0, 0, 0, 0);
  --border: #e6e8ec;
  --error: #d20606;
  --success: #45b26b;
}

/* Typography */

:root {
  --font-primary: Manrope;
  --font-bold: 700;
  --font-medium: 500;
  --text-base: 1rem;
  --text-2base: 1.125rem;
  --line-base: 1.75rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --m-4: 1rem;
  --m-12: 3rem;
  --rounded-xl: 0.75rem;
  --leading-loose: 200%;
}

/* Video Player */
vm-player {
  --vm-player-theme: var(--accent);
  --vm-player-font-family: var(--font-primary);
  --vm-player-border-radius: 24px;
  --vm-control-border-radius: 100%;
}

@media screen and (max-width: 1024px) {
  vm-player {
    --vm-control-padding: 15px;
    --vm-control-icon-size: 1em;
  }
}
